[submodule "libs/SDL2"]
	path = libs/SDL2
	url = https://github.com/libsdl-org/SDL
	branch = SDL2
[submodule "libs/SDL2_image"]
	path = libs/SDL2_image
	url = https://github.com/libsdl-org/SDL_image
	branch = SDL2
